			
			
            /* main body */

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("Image/blur-old-antique-book.jpg");
  min-height: 100%;
}


 

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  margin: -135px 0 0 0;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}


#list2 {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding: 50px 0px 100px 0;
    width = "100%"
}


#list2 a:hover {
    opacity:.8;
	filter: alpha(opacity = 80);
}

#adress{
    padding: 0 50px 0 50px;
    text-decoration: none;
}

#adress a:link {
        color: lightgrey;

}

        /* Question Bar */

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 40%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 0 0 0 30%;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddb; 
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 200px 0 200px;
    text-align: center;
     display: none;
}



 