 /* Footer */

footer {
    right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #282E34;
  text-align: center;    
}

#copywright {
    font-size: 10px;
}

#privacy {
    color: grey;
    font-size: 10px;
    cursor: pointer;

}

#terms {
    color: grey;
    font-size: 10px;
    cursor: pointer;

}


